%ul#movies
  - @movies.each do |movie|
    %li.movie{ data: { title: movie.title.gsub(/\A(.*), (The|A|An)\z/, '\2 \1').downcase, director: movie.directors.join(', ').downcase, genre: movie.genres.join(', ').downcase }, id: "movie_#{movie.id}" }
      %img{ src: "#{@poster_path_base_url}w92#{movie.poster_path}" }

      .title
        %h4= movie.truncated_title
        %p= movie.genres.first(3).join(', ')

      .detail
        .connector
          .connector-inner

        .detail-text
          %p= movie.overview
